
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color:white;
}body{
    background-color: lightblue;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh
}
.container{
    position: relative;
    width:100%;
    max-width:1000px;
    min-height: 1000px;
    background-color: white;
    display: grid;
    margin:50px;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0,35px,55px,rgba(0,0,0,0.1);
}
.container .left{
 position:relative;
 background-color:#003147;
padding:40px; 
}.container .right{
    position:relative;
    background-color: white;
    padding:40px; 
}
.profilephoto{
position:relative;
display:flex;
flex-direction:column;
padding-bottom:10px;
align-items: center;
justify-content: center;
border-bottom:1px solid rgba(255,255,255,0.2)
}.container .left .profilephoto .photo{
position:relative;
border-radius:50%;
width:200px;
height:200px;
background-color:white;
overflow:hidden;
}
.container .left .profilephoto .photo img{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    object-fit: cover;
}
.container .left .profilephoto  h1{
    font-size:1.5em;
    text-transform:uppercase;
    text-align: center;
    font-weight:600;
    line-height:1.4em;
}.profilephoto  h1 span{
    font-size:0.8em;
    font-weight:300;

}.contact{
    text-transform:uppercase;
    padding-top:40px;
}
.container .left .contact h2{
  font-weight:600;
  letter-spacing:1px;
  margin-bottom: 20px;
}.contact ul li{
    cursor:pointer;
    font-weight:300;
}
.contact ul .icon i{
    display:inline-block;
    color:aqua;
    font-size:18px;
    width:30px;
}
.container .left .contact ul{
    list-style-type:none;
}
.education h2{
    text-transform:uppercase;
    font-weight:600;
    margin-top:20px;
    letter-spacing:1px;
}.education ul li{
    list-style-type:none;
    margin:20px 0px;
}.education ul li h5{
    font-weight:300;
    color:aqua;
}
.education ul li h4:nth-child(2){
    font-weight:500;
}
.education ul li h4{
    font-weight:300;
}
.language h2{
   font-weight:600px;
   margin:20px 0;
   text-transform:uppercase;
   letter-spacing:1px;
}
.language ul li{
    list-style-type:none;
}
.language ul li h4 span{
      font-weight:300;
}.language .percent{
    position:relative;
    height:6px;
    width:100%;
    background-color:#081921;
    display:block;
    margin:5px 0px;
}.language .percent div{
position:absolute;
left:0;
top:0;
height:100%;
background-color: #03a9f4;
}
.container .right  h2{
    text-transform:uppercase;
    color:#003147;
    letter-spacing: 1px;
    margin-bottom:10px;
}.about{
    margin-bottom:50px;
}
.about:last-child{
 margin-bottom:0px;
}
p{
    color:#333;
    font-weight:300;
}.experience .box1{
 display:flex;   
 flex-direction:row;
 align-items:center;
 justify-content: space-between; 
 margin:20px 0px;
}.experience .box1 .year1 h4{
    color:#848c94;
    font-weight:600;
    text-transform: uppercase;

}
.experience .box1 .year1 {
    min-width:150px;
}
.experience .box1 .job1 h3{
     color:#2a7da2;
     text-transform:uppercase;
     font-weight:600;

     
}.container .skill h2{
    color:#003147;
    margin-top:20px;
    letter-spacing: 1px;
    
}.skill ul li{
    display:flex;
    margin: 20px 0;
}
.skill ul li h4{
    min-width: 150px;
}
.skill ul li h4 span{
    color:#848c94;
    text-transform:uppercase;
    font-weight:500;
}
.skill ul li .bar{
    position:relative;
    display: block;
    background-color: #081921;
    width:100%;
    height:6px;
    margin:5px 0px;
}.skill ul li .bar .percentage{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    background-color: #03a9f4;
}
.interest ul li{
    position:relative;
    color:black;
    font-weight: 500;
    width:150px;
    margin:10px 0
}.interest ul li .fa{
  display:inline-block; 
    width: 25px;
    font-size: 18px;
    color:#03a9f4;
}
.interest ul{
    list-style-type: none;
    display:grid;
    grid-template-columns: repeat(4,1fr);
}
@media(max-width:1000px){
 .container{
    margin:10px;
    grid-template-columns:repeat(1,1fr);
 }.interest ul{
    display:grid;
    grid-template-columns: 1fr 1fr;
 }
}
@media(max-width:600px){
    .experience .box1{
        flex-direction:column;
        align-items:flex-start;
    }.experience .box1 .year1{
        min-width:150px;
        margin-bottom: 5px;
    }.interest ul{
        display:grid;
        grid-template-columns: 1fr;
     }.skill ul li{
        display:flex;
        flex-direction: column;
        margin: 20px 0;
    }

}